<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

<!--JUMBOTRON-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Our History</h1>
        <hr>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat id odio eos repellat officia
            temporibus incidunt consequatur voluptatem neque optio voluptates, praesentium at amet quis quasi animi
            atque. Odio, nam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quod, ipsa hic reiciendis suscipit tempora. Impedit alias omnis quo modi perferendis pariatur tempora nam. Voluptatum dicta quam quo ratione sequi!</p>
    </div>
</div>


<!--FEATURES-->
<h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">Features</h1>
<hr class="mt-2 mb-5">
<div class="container p-4">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" style="border: 2px solid #000; margin-bottom: 15px; background-color: #F8C01B;">
                <div class="media" style="font-size: 5rem;">
                    <i class="fa fa-download" style="margin: 15px;"></i>
                    <div class="media-body" style="margin-left: 20px;">
                        <h5 class="mt-0">Center-aligned media</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" style="border: 2px solid #000; margin-bottom: 15px; background-color: #F8C01B;">
                <div class="media" style="font-size: 5rem;">
                    <i class="fab fa-atlassian" style="margin: 15px;"></i>
                    <div class="media-body" style="margin-left: 20px;">
                        <h5 class="mt-0">Center-aligned media</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" style="border: 2px solid #000; margin-bottom: 15px; background-color: #F8C01B;">
                <div class="media" style="font-size: 5rem;">
                    <i class="fas fa-basketball-ball" style="margin: 15px;"></i>
                    <div class="media-body" style="margin-left: 20px;">
                        <h5 class="mt-0">Center-aligned media</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6">
            <div class="thumbnail" style="border: 2px solid #000; margin-bottom: 15px; background-color: #F8C01B;">
                <div class="media" style="font-size: 5rem;">
                    <i class="fas fa-cat" style="margin: 15px;"></i>
                    <div class="media-body" style="margin-left: 20px;">
                        <h5 class="mt-0">Center-aligned media</h5>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock%}